<h1>Hello! I'm Anthony.</h1>
<p>
  I'm Anthony, an Information Technology Application's Analyst. I have over
  seven years experience working wit various different technologies.
</p>
<div class="links">
  <a href="https://github.com/acjoyner" target="_blank"
    ><img src="../../assets/github.png" alt />
    <div class="hidden-label">github</div></a
  >
  <a href="https://www.tiktok.com/en/" target="_blank"
    ><img src="../../assets/tictoc.png" alt />
    <div class="hidden-label">tiktok</div></a
  >
  <a href="https://github.com/acjoyner" target="_blank"
    ><img src="../../assets/Instagram.png" alt />
    <div class="hidden-label">instagram</div></a
  >
  <a href="https://www.instagram.com/" target="_blank"
    ><img src="../../assets/circle-linkedin-512.webp" alt />
    <div class="hidden-label">linkedin</div></a
  >
</div>
