<section class="dark-section">
  <h2>Experience</h2>
  <div class="jobs">
    <div class="job">
      <h3>IT Applications Analyst</h3>
      <h4>Duke Energy</h4>
      <p>
        Works with Archer application framework. Works with Cyber Asset
        Lifecycle Management and Cyber Monitoring and Vulnerability Assesment
        procedures to mitigate risk and remain complaint with industry
        standards.
      </p>
    </div>
    <div class="job">
      <h3>IT Associate</h3>
      <h4>Duke Energy</h4>
      <p>
        Participated in program created for recent graduates. Rotated to various
        different teams and gained valuable experience working with project
        related to date transformation.
      </p>
    </div>
    <div class="job">
      <h3>Part-time Instructor</h3>
      <h4>North Carolina A&T State University</h4>
      <p>
        Currently teach courses in the Computer Systems Technology department at
        North Carolina Agricultural and Technical State University for
        undergraduate students.
      </p>
      <div class="courses">
        <h3>Courses</h3>
        <ul>
          <li>Introduction to Computer Programming - CST 140</li>
          <li>Applied Java Programming - CST 240</li>
          <li>Web Systems - CST 231</li>
          <li>Linux System Administration - CST 430</li>
        </ul>
      </div>
    </div>
  </div>
</section>
