<section class="dark-section">
  <h2>Projects</h2>
  <div class="project">
    <div>
      <h3>BEAR - Bounty Electronic Access Review - (2023 - present)</h3>
      <p>
        Built front-end for application to review firewall policies and firewall
        rules for annual review and re-certification process. The application is
        currently being built using Angular 17 for the front end and .NET 8 for
        the backend API. This application will automate manually task performed
        by employees currently keep the data in Microsoft OneNote. This
        application will help to stop human error and forecast future compliance
        activities soon to be in review.
      </p>
    </div>
    <img src="../../assets/coding.webp" alt="Project goes here screen shot" />
  </div>
  <hr>
  <div class="project">
    <div>
      <h3>CIDH - Critical Infrastructure Data Hub - (2023 - present)</h3>
      <p>
        Built front-end for application to review firewall policies and firewall
        rules for annual review and re-certification process. The application is
        currently being built using Angular 17 for the front end and .NET 8 for
        the backend API. This application will automate manually task performed
        by employees currently keep the data in Microsoft OneNote. This
        application will help to stop human error and forecast future compliance
        activities soon to be in review.
      </p>
    </div>
    <img src="../../assets/DC22-H.jpg" alt="Project goes here screen shot" />
  </div>
</section>
